
  <app-quiz-list></app-quiz-list>
  <app-questions-list></app-questions-list>
  <!-- cards section--
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let quiz of quizs">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Quiz {{quiz.id}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/images/cards-imgs/angularQuiz.png">
        <mat-card-content>
          <p>
            {{quiz.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="primary">UPDATE</button>
          <div fxFlex></div>
          <button mat-button color="warn">DELETE</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
-->
<!-- material dialog--->

<!-- Button trigger modal -->

<!-- Modal Bootstrap -->
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Quiz</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ..........
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
<!-- display other content in the same page-->
<!--
<div class="dls-menu-item" style="float: right;">
  <button (click)="onPress()">click me</button>
</div>

<div id="comp-render" *ngIf="display">
  <app-quiz-card></app-quiz-card>
</div>
-->

<app-footer></app-footer>
