

<div class="maill-success" >
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="success-content">
          <h1>You have signed up successfully!</h1>
          <p>Please check your email to verify your account.</p>
          <div class="button">
            <a href="/clientLogin" class="btn btn-outline-primary">Click here to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  window.onload = function () {
    window.setTimeout(fadeout, 500);
  }

  function fadeout() {
    document.querySelector('.preloader').style.opacity = '0';
    document.querySelector('.preloader').style.display = 'none';
  }
</script>

