<!--====== ABOUT THREE PART START ======-->
<section id="about" class="about-area pt-70 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-feature mt-30">
          <div class="about-feature-image">
            <img src="assets/images/about.png" alt="feature">
          </div>
          <div class="about-feature-content">
            <h2 class="feature-title">The future of designing starts here</h2>
            <p class="text">An open platform for presentations and content collaboration. Sign up to get early access.</p>
          </div>
        </div> <!-- about feature three -->
      </div>
      <div class="col-lg-6">
        <div class="about-feature-items d-sm-flex mt-30">
          <div class="feature-items-icon">
            <img src="assets/images/feature-icon-1.png" alt="Icon">
          </div>
          <div class="feature-items-content media-body">
            <h5 class="items-title">Powerful templates</h5>
            <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned with your brand, in just a few clicks.</p>
          </div>
        </div> <!-- about feature items -->
        <div class="about-feature-items d-sm-flex mt-30">
          <div class="feature-items-icon">
            <img src="assets/images/feature-icon-2.png" alt="Icon">
          </div>
          <div class="feature-items-content media-body">
            <h5 class="items-title">Designed for everyone</h5>
            <p class="text">Manually updating your business reports and sales pitches is tedious and painful. With Pitch, connect to external data sources documents.</p>
          </div>
        </div> <!-- about feature items -->
        <div class="about-feature-items d-sm-flex mt-30">
          <div class="feature-items-icon">
            <img src="assets/images/feature-icon-3.png" alt="Icon">
          </div>
          <div class="feature-items-content media-body">
            <h5 class="items-title">Work anywhere</h5>
            <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned with your brand, in just a few clicks.</p>
          </div>
        </div> <!-- about feature items -->
        <div class="about-feature-items d-sm-flex mt-30">
          <div class="feature-items-icon">
            <img src="assets/images/feature-icon-4.png" alt="Icon">
          </div>
          <div class="feature-items-content media-body">
            <h5 class="items-title">Updated in real time</h5>
            <p class="text">Manually updating your business reports and sales pitches is tedious and painful. With Pitch, connect to external data sources documents.</p>
          </div>
        </div> <!-- about feature items -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
<!--====== ABOUT THREE PART ENDS ======-->
