/*
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
*/
/*
.mat-form-field {
  display: block;
}

.textarea {
  height: 100px;
  resize: vertical;
}
.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}
*/
