
<footer id="footer" class="footer-area">
  <div class="footer-widget pt-70 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-logo-support d-md-flex align-items-end justify-content-between">
            <div class="footer-logo d-flex align-items-end pt-30">
              <a href="../../../index.html"><img src="../../../assets/images/footer-logo.svg" alt="Logo"></a>
            </div> <!-- footer logo -->
          </div> <!-- footer logo support -->
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-sm-12">
          <div class="footer-support ">
            <span class="number">70 253 357</span>
            <span class="mail">contact@smoothalgo.com</span>
          </div>
          <ul class="social">
            <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
            <li><a href="#"><i class="lni-twitter-original"></i></a></li>
            <li><a href="#"><i class="lni-instagram-original"></i></a></li>
            <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Company</h6>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div> <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Product & Services</h6>
            <ul>
              <li><a href="#">Services</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Developer</a></li>
            </ul>
          </div> <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Help & Suuport</h6>
            <ul>
              <li><a href="#">Support Center</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div> <!-- footer link -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- footer widget -->

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center">
            <p class="text"><a rel="nofollow" href="https://www.smoothalgo.com/">Smooth Algo</a>
              -Droits d'auteur © 2022 Tous droits réservés</p>
          </div> <!-- copyright -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- footer copyright -->
</footer>
