
<app-top-navbar></app-top-navbar>

<div id="home" class="header-content-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-wrapper">
          <div class="header-content">
            <h3 class="header-title">Smooth Career is One of the best online training platform</h3>
            <p class="text">Please, purchase the premium version - if you would like to create your own hiring assessment and get all features, documentation and support</p>
            <div class="header-btn rounded-buttons">
              <a class="main-btn rounded-one" href="https://smoothAlgo.com">Purchase Now</a>
            </div>

          </div> <!-- header content -->

          <div class="header-image d-none d-lg-block">
            <div class="image">
              <img src="../../../assets/images/header.png" alt="Header">
            </div>
          </div>

        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="header-shape">
    <img src="../../../assets/images/header-shape.svg" alt="shape">
  </div> <!-- header-shape -->
</div> <!-- header content area -->



<app-blog></app-blog>


<app-footer></app-footer>










