<section id="features" class="features-area pt-60 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-features text-center mt-40">
          <div class="features-icon">
            <i class="lni-school-compass"></i>
            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Skills testing</a></h4>
            <p class="text">Short description for the ones who look for something new. Awesome!</p>
            <div class="features-btn rounded-buttons">
              <a class="main-btn rounded-one" href="#">KNOW MORE</a>
            </div>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-features text-center mt-40">
          <div class="features-icon">
            <i class="lni-construction"></i>
            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Behavioral assessments</a></h4>
            <p class="text">Short description for the ones who look for something new. Awesome!</p>
            <div class="features-btn rounded-buttons">
              <a class="main-btn rounded-one" href="#">KNOW MORE</a>
            </div>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="single-features text-center mt-40">
          <div class="features-icon">
            <i class="lni-cup"></i>
            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Employee training</a></h4>
            <p class="text">Short description for the ones who look for something new. Awesome!</p>
            <div class="features-btn rounded-buttons">
              <a class="main-btn rounded-one" href="#">KNOW MORE</a>
            </div>
          </div>
        </div> <!-- single features -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
