<section id="contact" class="contact-area pt-95 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-20">
          <h4 class="title">Get in touch</h4>
          <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="contact mt-30">
          <h4 class="contact-title">We love to hear from you or have a project on mind? lets talk.</h4>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde repellendus delectus facilis quia consequatur maxime perferendis! Sequi, modi consequatur. <br> <br> Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
          <ul class="contact-info">
            <li><i class="lni-money-location"></i> 1010 Avenue, SOUSSE, TUNISIA</li>
            <li><i class="lni-phone-handset"></i> 70 253 357</li>
            <li><i class="lni-envelope"></i> hello@smoothAlgo.com</li>
          </ul>
        </div> <!-- contact -->
      </div>
      <div class="col-lg-6">
        <div class="contact-form form-style-one mt-15">
          <form id="contact-form" action="assets/contact.php" method="post">
            <div class="form-input mt-15">
              <label>Name</label>
              <div class="input-items default">
                <input name="name" type="text" placeholder="Name">
                <i class="lni-user"></i>
              </div>
            </div> <!-- form input -->
            <div class="form-input mt-15">
              <label>Email</label>
              <div class="input-items default">
                <input name="email" type="text" placeholder="Email">
                <i class="lni-envelope"></i>
              </div>
            </div> <!-- form input -->
            <div class="form-input mt-15">
              <label>Massage</label>
              <div class="input-items default">
                <textarea name="message" placeholder="Massage"></textarea>
                <i class="lni-pencil-alt"></i>
              </div>
            </div> <!-- form input -->
            <p class="form-message"></p>
            <div class="form-input standard-buttons mt-20">
              <button class="main-btn standard-two" type="submit">Submit</button>
            </div> <!-- form input -->
          </form>
        </div> <!-- contact form -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
