<!--====== FEATURES PART START ======-->
<section id="about" class="feature section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Why choose us</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our features</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
            Ipsum available, but the majority have suffered alteration in some form.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/feature-icon-1.png" alt="">
          </div>
          <h4 class="text-title">Instant Exchange</h4>
          <p>Invest on the regular or save with one of the highest interest rates on the
            market.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/feature-icon-2.png" alt="">
          </div>
          <h4 class="text-title">Safe & Secure</h4>
          <p>Invest on the regular or save with one of the highest interest rates on the
            market.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
        <div class="feature-box">
          <div class="tumb">
            <img src="assets/images/features/feature-icon-3.png" alt="">
          </div>
          <h4 class="text-title">Instant Trading</h4>
          <p>Invest  on the regular or save with one of the highest interest rates on the
            market.</p>
        </div>
      </div>
    </div>
  </div>
</section>
