<h1 mat-dialog-title>Add Answer Form</h1>
<form [formGroup]="answerForm">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Answer Text"></textarea>
      </mat-form-field>
      <h4>Is Correct</h4>
      <mat-radio-group formControlName="isCorrect" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let isCorrect of correctState" [value]="isCorrect">
          {{isCorrect}}
        </mat-radio-button>
      </mat-radio-group>
</form>
<div mat-dialog-actions [align]="'end'" >
  <button style="margin-left: 8px" type="button" class="btn btn-outline-danger" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" type="button" class="btn btn-outline-success" (click)="addAnswer()" >{{actionBtn}}</button>
</div>

<!--form - {{answerForm.value | json}}-->
